.table-container {
    max-width: 100%; 
    margin: 15px auto; 
    overflow-y: auto; 
    overflow-x: hidden; 
    max-height: 660px; 
    border: 1px solid #ccc; 
  }
  
  .title{
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 0.5em;
  }
  
  th, td {
    padding: 8px 12px;
    text-align: left;
    border: 1px solid #007bff;
    font-size: 18px;
  }
  
  th {
    background-color: #007bff;
    color: white;
    font-weight: 600;
  }
  
  tr:nth-child(even) {
    background-color: #8fc5ff;
  }
  
  tr:hover {
    background-color: #8fc5ff;
    transition: background-color 0.3s;
  }
  
  .error {
    color: #d9534f;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 10px;
  }
  