
.body-in{
  font-family: Arial, sans-serif;
  background-color: #bdd7e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.container {
  display: flex;
  width: 800px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.sing-in{
  text-align: center;
}

.left-section-in {
  flex: 1;
  background-color: #007bff;
  color: white;
  padding: 40px;
  display: flex;
  padding-bottom: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.left-section-in h1 {
  font-size: 24px;
  margin-bottom: 40px;
}

.left-section-in p {
  text-align: center;
  margin-bottom: 20px;
  line-height: 30px;
}

.right-section {
  flex: 1;
  background-color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-section h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.right-section form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.right-section input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.right-section p{
  text-align: center;
}

.right-section .button-submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.right-section .button-submit:hover {
  background-color: #0056b3;
}

.right-section .login-link {
  color: #007bff;
  text-decoration: none;
}

.right-section .login-link:hover {
  text-decoration: underline;
}
