/* Estilização da página inicial */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    font-family: "Poppins";
    background-color: #bdd7e9;
}

.login-icon p{
    font-size: 20px;
    /* font-weight: bold */
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 4px;
    color: white;
}

.header-left .logo {
    width: 70px;
    height: auto;
}

.header-nav{
    margin-left: 60px;
}

.header-nav a {
    margin: 0 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.header-nav a:hover {
    text-decoration: underline;
}

.header-user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
}

.header-user .user-icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

/* Conteúdo principal */
.main-content {
    padding: 30px;
    text-align: center;
}

.title {
    color: #007bff;
    font-size: 32px;
    margin-bottom: 20px;
}

.sensor-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.sensor-card {
    display: flex;
    gap: 91px;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 15px 20px;
    width: 100%;
    max-width: 700px;
    text-align: center;
}


.sensor-card h2 {
    color: #007bff;
    font-size: 20px;
    margin-bottom: 10px;
}

.sensor-card p {
    color: white;
    font-size: 17px;
    margin-bottom: 40px;
    font-weight: bold;
    text-align: justify;
}

.sensor-card .btn-link {
    display: inline-block;
    padding: 25px 45px;
    color: #007bff;
    width: 30%;
    text-align: center;
    background-color: #deebf4;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 0px auto;
    box-shadow: inset 10px 0em #007bff;
    border-radius: 20px;
}

.sensor-card .btn-link:hover {
    background-color: #bdd7e9;
}

/* Gráfico */
.chart-container {
    margin: 20px 0;
    text-align: center;
}

.chart-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #007bff;
}



/* Rodapé */
.footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.footer p{
    font-size: 12px;
    text-align: start;
    margin-left: 10px;
    font-weight: bold;
}


